<form method="post" action="/" enctype="application/x-www-form-urlencoded" class="form form--separated">

    <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
      <label for="name">Nafn*</label>
      <input type="text" name="name" id="name" value="<%= formData.name %>" class="">
    </div>
  
    <div class="field<%= locals.isInvalid('password', errors) ?  ' field--invalid' : '' %>">
      <label for="password">Password*</label>
      <input type="text" name="password" id="password" value="<%= formData.password %>" class="">
    </div>
  
  
    <% if (errors.length > 0) { %>
      <h2 class="errors__title">Villur við registration:</h2>
      <ul class="errors">
        <% errors.forEach((error) => { %>
          <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
        <% }); %>
      </ul>
    <% } %>
  
    <button class="button button--large button--margin">register</button>
  </form>