<%- include('header') -%>

<h1><%= title %></h1>

<form method="post" action="/admin/update/<%= eventid %>" enctype="application/x-www-form-urlencoded" class="form">

    <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
      <label for="name">New Name*</label>
      <input type="text" name="name" id="name" value="<%= formData.name %>" class="">
    </div>
  
    <div class="field field--textarea<%= locals.isInvalid('description', errors) ?  ' field--invalid' : '' %>">
      <label for="description">new description:</label>
      <textarea name="description" id="description"><%= formData.description %></textarea>
    </div>
  
    <% if (errors.length > 0) { %>
      <h2 class="errors__title">error with event:</h2>
      <ul class="errors">
        <% errors.forEach((error) => { %>
          <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
        <% }); %>
      </ul>
    <% } %>
  
    <button class="button button--large button--margin">update event</button>
  </form>

  <div class="adminback">
    <p class="adminback" style="text-align: center; margin-top: 1rem;"><a href="/admin/">click to go back</a></p>
</div>


  <%- include('footer') -%>